<h1>Sign In</h1>

<form action="/authenticate" method="post">
  <label for="username">Username</label>
  <input id="username" type="text" name="input_username" placeholder="Provide a username">
  <label for="password">Password</label>
  <input id="password" type="password" name="input_password" placeholder="Enter a password">

  <button>Sign in</button>
</form>
